body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    font-size: 35px;
    background-image: linear-gradient(to right, rgb(44, 166, 236), darkblue);
    color: #fff;
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    position: sticky;
}

#search-1 {
    font-size: 35px;
    margin: 10px;
}

#inputArea {
    margin: 5px;
    width: 350px;
    height: 30px;
}

#searchBtn {
    margin: 5px;
    width: 350px;

}